html{
	font-family: 'Roboto', sans-serif;
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
	font-size: 1.4em;
	padding: .28em 0;
}
#data{
	background: #fff;
	margin: 8% auto;
	padding: 2em 2.6em;
	width: 26em;
	height: 12.8em;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}
#location, #condition, #icon, #temp1, #temp2{
	padding: .62em 0;
}
#icon{
	float: right;
}
#condition{
	text-transform: uppercase;
}
#temp2{
	display: none;
}
#button{
	float: right;
	background: #74ebd5;
	border-radius: 1.8em;
	padding: .4em .8em;
	border: none;
}
#button:hover{
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}